<div id="wrapper">
    <app-sidebar></app-sidebar>
   
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navabar></app-navabar>
            <div class="container-fluid mt-5">
    
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">Liste De Elèves</h1>
                  <br>            
                </div>
              
          <div class="row">
            <div class="col">
              <a class="btn btn-sm btn-primary mt-1 mb-2" [routerLink]="['/admin/category/add']">Add Category</a>
            </div>
          </div>

             
                <!-- Content Row -->
      
              <div class="row ">
  
              <!-- Area Chart -->
              <div class="col">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Clients List</h6>
                   
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Last_Name</th>
                          <th scope="col">First_Name </th>
                          <th scope="col">Adresse </th>
                          <th scope="col">Email </th>
                          <th scope="col">Phone </th>
  
                          <th>#</th>
                          
  
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Hamza</td>
                          <td>Chikhaoui</td>
                          <td>Sidi Hassin</td>
                          <td>hamza@gmail.com</td>
                          <td>22394499</td>
                          <td class="align-middle">
                            <button class="btn btn-sm btn-warning mx-3">
                              <i class="fas fa-edit"></i>
                            </button>
  
                          <button class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i>
                          </button>
                          
                        </td>
                       
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Kalil</td>
                          <td>Chikhaoui</td>
                          <td>Makther</td>
                          <td>kalil@gmail.com</td>
                          <td>32456789</td>
                          <td class="align-middle">
                         <button class="btn btn-sm btn-warning mx-3">
                              <i class="fas fa-edit" [routerLink]="['/admin/users/eleves/editEleves']"></i>
                            </button>
                            
                          <button class="btn btn-sm btn-danger" >
                            <i class="fas fa-trash"></i>
                          </button ></td>
                          
                        </tr>
                       
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
      
                  <!-- Pie Chart -->
                 
                  </div>
        </div>
        
    </div>
    
</div>

