<app-navabar></app-navabar>
 <section class="container">
     <div class="row d-flex justify-content-center algin-items-center  bg-row">
         <div class="col-md-5 bg-box p-5 rounded shadow">
             <h3 class="text-white">SIGN IN</h3>
             <form >
                 <div class="mb-3">
                     <label for="email" class="form-label text-white">Email</label>
                     <input type="email" name="email" class="form-control" id="email">                 
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Password</label>
                        <input type="password" name="password" class="form-control" id="password">                 
                       </div>
                       <div class="mb-3">
                           <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox">
                           <label for="form-check-label text-white" for="check1" class="text-white">Keep me signed in</label>
                       </div>
                       <div class="mb-3"><button type="submit" class="btn btn-light">Log In</button></div>
             </form>
         </div>

     </div>
 </section>
