<app-navabar></app-navabar>
<div class="container-fluid mt-5 Text-centre">
    <div class="row">
        <div class="col-6 ">
            <img src="./../../assets/images/img5.jpg "  class="image shadow-sm p-3 mb-5 bg-body rounded" alt="">
        </div>
        <div class="col-6 container">
            <h1>Ms-Classe</h1>
            <p>
             Rendez-vous sur notre Site Ms-Classe
            </p>
            <button type="button" class="btn btn-primary badge">
                Inscription Du 08 au 20 Nouvmber 2021 <span class="badge bg-secondary"></span>
              </button>
              <div class="row">
                  <div class="col-3 "><button class="btn btn-primary map">
                    <i class="fas fa-map-marker-alt"></i>
                  </button></div>
                  <div class="col-9">
                      <h3>Paris</h3>
                  </div>
              </div>
        </div>
    </div>
</div>